<header class="header">
    <div class="overlay"></div>
    <div class="container">
        <div class="header__wrapper">
            <a class="header__logo" href="#">
                <img src="img/logo.png" alt="logo">
            </a>
            <div class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">Case Studies</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Services</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Expertise</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">About</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link menu__contact-us" href="#">Contact us</a>
                    </li>
                </ul>
                <button class="menu__close"></button>
            </div>
            <button class="hamburger">
                <span class="hamburger__line"></span>
                <span class="hamburger__line"></span>
                <span class="hamburger__line"></span>
            </button>
        </div>
    </div>
</header>
<div class="title">
    <div class="container">
        <h1 class="title__text">We work with forward businesses to create <br>
            new digital platforms, products and
            services.
        </h1>
    </div>
</div>