@font-face {
  font-family: 'DecimaNovaPro';
  src: url('../../fonts/DecimaNovaPro/DecimaNovaPro.eot');
  src: local('☺'), url('../../fonts/DecimaNovaPro/DecimaNovaPro.woff') format('woff'), url('../../fonts/DecimaNovaPro/DecimaNovaPro.ttf') format('truetype'), url('../../fonts/DecimaNovaPro/DecimaNovaPro.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DecimaNovaPro-Bold';
  src: url('../../fonts/DecimaNovaPro-Bold/DecimaNovaPro-Bold.eot');
  src: local('☺'), url('../../fonts/DecimaNovaPro-Bold/DecimaNovaPro-Bold.woff') format('woff'), url('../../fonts/DecimaNovaPro-Bold/DecimaNovaPro-Bold.ttf') format('truetype'), url('../../fonts/DecimaNovaPro-Bold/DecimaNovaPro-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DecimaNovaProLt';
  src: url('../../fonts/DecimaNovaProLt/DecimaNovaProLt.eot');
  src: local('☺'), url('../../fonts/DecimaNovaProLt/DecimaNovaProLt.woff') format('woff'), url('../../fonts/DecimaNovaProLt/DecimaNovaProLt.ttf') format('truetype'), url('../../fonts/DecimaNovaProLt/DecimaNovaProLt.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif-Regular';
  src: url('../../fonts/DecimaNovaProLt/DecimaNovaProLt.eot');
  src: local('☺'), url('../../fonts/PTSerif-Regular/PTSerif-Regular.woff') format('woff'), url('../../fonts/PTSerif-Regular/PTSerif-Regular.ttf') format('truetype'), url('../../fonts/PTSerif-Regular/PTSerif-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'social';
  src: url('../../fonts/Icons/social.eot?19988707');
  src: url('../../fonts/Icons/social.eot?19988707#iefix') format('embedded-opentype'),
  url('../../fonts/Icons/social.woff?19988707') format('woff'),
  url('../../fonts/Icons/social.ttf?19988707') format('truetype'),
  url('../../fonts/Icons/social.svg?19988707#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}