<div class="sub-header">
    <div class="container">
        <div class="sub-menu">
            <ul class="sub-menu__list">
                <li class="sub-menu__item">
                    <a class="sub-menu__link" href="#">all</a>
                </li>
                <li class="sub-menu__item">
                    <a class="sub-menu__link" href="#">Mobile apps</a>
                </li>
                <li class="sub-menu__item">
                    <a class="sub-menu__link" href="#">web services</a>
                </li>
                <li class="sub-menu__item">
                    <a class="sub-menu__link" href="#">augmented reality</a>
                </li>
                <li class="sub-menu__item">
                    <a class="sub-menu__link" href="#">UX/ui design</a>
                </li>
                <li class="sub-menu__item">
                    <a class="sub-menu__link" href="#">development</a>
                </li>
            </ul>
        </div>
    </div>
</div>