@include rm(320) {
  .sub-header {
    border-top: 1px solid #00203c;
    background: #00172b;
  }

  .sub-menu {
    &__list {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__link {
      display: block;
      font-family: 'DecimaNovaPro-Bold';
      font-size: 14px;
      text-transform: uppercase;
      color: #ffffff;
      white-space: nowrap;
      padding: 20px;
      border-bottom: 4px solid transparent;
      transition: .3s;

      &:hover {
        border-bottom: 4px solid #00abff;
      }
    }
  }
}
